<!DOCTYPE html>

    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <!--custom stylesheet-->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
      <!--google font-->
{#        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">#}
</head>







{#<title>{% block title %}{% endblock %} - Student</title>#}
{#<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">#}
{#<nav>#}
{#  <h1>Student Records</h1>#}
{##}
{#</nav>#}
{#<section class="content">#}
{#  <header>#}
{#    {% block header %}{% endblock %}#}
{#  </header>#}
{#  {% for message in get_flashed_messages() %}#}
{#    <div class="flash">{{ message }}</div>#}
{#  {% endfor %}#}
{#  {% block content %}{% endblock %}#}
{#</section>#}
