<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">

<!-- Styles -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>

<body >

{% include 'nav.html' %}

    <div class="table-content">
        <table class="table table-borded table-responsive table-striped " id="table-list">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Qty</th>
                    <th>Expiration Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tomatoes</td>
                    <td>7</td>
                    <td>4-15-2022</td>
                </tr>
                <tr>
                    <td>Eggs</td>
                    <td>12</td>
                    <td>4-30-2022</td>
                </tr>
                <tr>
                    <td>Green onions</td>
                    <td>3</td>
                    <td>4-5-2022</td>
                </tr>

            </tbody>
        </table>
        <button class="btn btn-info" id="add"><span class="glyphicon glyphicon-plus-sign"></span>Add Item</button>
    </div>

    <br>

<script src="bootstable.js"></script>
<script>
//apply
$("#table-list").SetEditable();
$('#add').click(function() {
    rowAddNew('table-list', [1,2,3]);
});

</script>
</body>

</html>