<!DOCTYPE html>

    <!-- TODO: Create HTML elements for Twitter mockup inside body -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('results') }}
">Moments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('inv') }}">Notifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>

        </ul>
        <div class= "mx-auto text-center">
          <img src="./images/twitter-logo.png" alt="twitter-logo" width="32" height="32">
        </div>
        <button type="button" class="btn btn-primary">

          Tweet
        </button>
      </div>
    </nav>

